:root {
  --bg-color1: white;
  --bg-color2: black;
  --primary: #e08d28;
  --secondary: #e04c28;
  --accent: #29e0e0;
  --text-color: #426161;
  --text2-color: #615342;
  --text3-color: #614842;
  --border-radius-card: 8px;
}

*::-webkit-scrollbar {
  background: rgba(169, 108, 108, 0.25);
}

body {
  background-color: var(--bg-color1);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Avenir, serif;
  position: relative;
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
}

body > * {
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  border-bottom: solid black;
}

.menu-bar {
  display: flex;
  flex-direction: row;
  width: 80vw;
  border: solid red;
  justify-content: center;
  position: relative;
}

.hamburger {
  width: 6vw;
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translate(0%, -50%);
}

h1 {
  align-self: center;
}

.carasel {
  border: solid blue;
  width: 80vw;
  height: 90vh;
}

header {
  border: solid orange;
  display: flex;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.recipe-list {
  border: solid green;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: auto;
}

.recipe-drawer {
  position: absolute;
  top: 0%;
  left: 105%;
  bottom: 0;
  width: 100vw;
  transition: all 2s ease-in-out;
  z-index: 2;
  background-color: var(--text3-color);
  /* opacity: 50%; */
}

.recipe-drawer.unhide {
  transform: translateX(-100%);
}

.recipe-card {
  width: 20%;
  max-width: 250px;
  min-width: 125px;
  aspect-ratio: 4.5 / 5;
  border: solid var(--accent);
  border-radius: var(--border-radius-card);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.recipe-card > img {
  width: 100%;
  height: auto;
  border-radius: 0 0 var(--border-radius-card) var(--border-radius-card);
}
